Repository ase-fs25/DailyGrind, pull requests merged in 2025-03, with the labels that each got.

#28 Initial commit with basic structure
  frontend/.gitignore
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/App.tsx
  frontend/src/assets/logo.svg
  frontend/src/components/common/Header.tsx
  frontend/src/components/common/SettingsPopup.tsx
  frontend/src/components/login/Login.tsx
  frontend/src/components/login/Registration.tsx
  frontend/src/components/screens/Feed.tsx
  frontend/src/components/screens/Friends.tsx
  frontend/src/components/screens/Posts.tsx
  frontend/src/index.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/setupTests.ts
  frontend/src/styles/app.css
  frontend/src/styles/components/common/header.css
  frontend/src/styles/components/common/settingsPopup.css
  frontend/src/styles/components/login/login.css
  frontend/src/styles/components/login/registration.css
  frontend/src/styles/components/screens/screen.css
  frontend/src/styles/index.css
  frontend/src/tests/App.test.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#31 Initial version of the CI/CD pipeline
  .github/dependabot.yml
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/frontend.yml
  README.md
Labels: enhancement

#36 Feature/ci cd
  .github/dependabot.yml
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/frontend.yml
  README.md
Labels: enhancement

#38 Create feed with mocked posts
  ms-frontend/package-lock.json
  ms-frontend/package.json
  ms-frontend/src/components/screens/Feed.tsx
  ms-frontend/src/mockData/mockPosts.ts
  ms-frontend/src/styles/components/screens/feed.css
  ms-frontend/src/styles/components/screens/screen.css
  ms-frontend/src/types/post.ts
  ms-frontend/yarn.lock
Labels: frontend

#40 Feature/frontend cicd pipeline
  .github/workflows/frontend.yml
  .gitignore
  ms-frontend/.eslintrc.json
  ms-frontend/.prettierrc
  ms-frontend/package-lock.json
  ms-frontend/package.json
  ms-frontend/public/index.html
  ms-frontend/src/App.tsx
  ms-frontend/src/components/common/Header.tsx
  ms-frontend/src/components/common/SettingsPopup.tsx
  ms-frontend/src/components/login/Login.tsx
  ms-frontend/src/components/login/Registration.tsx
  ms-frontend/src/components/screens/Feed.tsx
  ms-frontend/src/components/screens/Friends.tsx
  ms-frontend/src/components/screens/Posts.tsx
  ms-frontend/src/helpers/loginHelpers.ts
  ms-frontend/src/index.tsx
  ms-frontend/src/mockData/mockPosts.ts
  ms-frontend/src/mockData/mockProfiles.ts
  ms-frontend/src/stores/profileStore.ts
  ms-frontend/src/styles/components/login/registration.css
  ms-frontend/src/styles/index.css
  ms-frontend/src/types/post.ts
  ms-frontend/src/types/profile.ts
  ms-frontend/tsconfig.json
Labels: frontend

#30 Feature/posts microservice setup
  .gitignore
  Dockerfile
  SETUP.md
  docker-compose.yaml
  ms-post/.gitattributes
  ms-post/.gitignore
  ms-post/.mvn/wrapper/maven-wrapper.properties
  ms-post/mvnw
  ms-post/mvnw.cmd
  ms-post/pom.xml
  ms-post/src/main/java/com/uzh/ase/dailygrind/postservice/PostServiceApplication.java
  ms-post/src/main/java/com/uzh/ase/dailygrind/postservice/config/DynamoDBConfig.java
  ms-post/src/main/java/com/uzh/ase/dailygrind/postservice/config/SecurityConfiguration.java
  ms-post/src/main/java/com/uzh/ase/dailygrind/postservice/config/WebConfig.java
  ms-post/src/main/java/com/uzh/ase/dailygrind/postservice/post/controller/PostController.java
  ms-post/src/main/java/com/uzh/ase/dailygrind/postservice/post/controller/dto/PostDto.java
  ms-post/src/main/java/com/uzh/ase/dailygrind/postservice/post/repository/PostCrudRepository.java
  ms-post/src/main/java/com/uzh/ase/dailygrind/postservice/post/repository/PostPagingSortingRepository.java
  ms-post/src/main/java/com/uzh/ase/dailygrind/postservice/post/repository/entity/Post.java
  ms-post/src/main/java/com/uzh/ase/dailygrind/postservice/post/service/PostService.java
  ms-post/src/main/resources/application.yaml
  ms-post/src/test/java/com/uzh/ase/dailygrind/postservice/PostServiceApplicationTests.java
  ms-user/.gitattributes
  ms-user/.gitignore
  ms-user/.mvn/wrapper/maven-wrapper.properties
  ms-user/mvnw
  ms-user/mvnw.cmd
  ms-user/pom.xml
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/TestResource.java
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/UserServiceApplication.java
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/config/DynamoDBConfig.java
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/config/SecurityConfiguration.java
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/config/WebConfig.java
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/user/controller/UserController.java
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/user/controller/dto/UserDto.java
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/user/repository/UserCrudRepository.java
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/user/repository/UserPagingSortingRepository.java
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/user/repository/entity/User.java
  ms-user/src/main/java/com/uzh/ase/dailygrind/userservice/user/service/UserService.java
  ms-user/src/main/resources/application.yaml
  ms-user/src/test/java/com/uzh/ase/dailygrind/userservice/UserServiceApplicationTests.java
  terraform/dynamodb.tf
  terraform/init-terraform.sh
  terraform/main.tf
  terraform/output.tf
  terraform/provider.tf
Labels: posts

#39 Feature/friends tab
  ms-frontend/.gitignore
  ms-frontend/src/components/screens/Friends.tsx
  ms-frontend/src/mockData/mockFriends.ts
Labels: frontend

#42 First attempt of containerization
  docker-compose.yaml
  ms-frontend/Dockerfile
  ms-frontend/nginx.conf
  ms-post/Dockerfile
  ms-user/Dockerfile
Labels: enhancement
